<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crustomer</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/auth.css">
</head>
<body>
    <section class="infoHeader shadow">
        <a href="/" class="home">
            <img src="img/logo.png" alt="" class="logo">
        </a>
    </section>
    <section class="info shadow">
        <section class="buttonWrapper">
            <a href="/login" class="button1 shadow"> Login</a>
            <a href="/signup" class="button2 shadow"> Signup</a>
        </section>
    </section>
</body>
</html>